venv/
.idea/
static/
*.pyc
*~
__pycache__
.DS_Store
myvenv
db.sqlite3
mysql.cnf
news_parser/my_settings.py
news_parser/production_settings.py
*.log
*.bat
authapp/migrations/
mainapp/migrations/
event.log.*
requirements_dev.txt